*{
  padding: 0;
  margin: 0;
}

#main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

#title {
  background: linear-gradient(to right, rgba(199,92,129,255), rgba(175,77,133,255), rgba(158,74,145,255), rgba(152,87,165,255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.2rem ;
  padding: 2rem 0;
  font-size: 2.5rem;
}

.row {
  display: flex; 
}

.column {
  display: flex;
  flex-direction: column;
  padding: 0 2vw;
}

.item {
  padding: 1rem 0;
}

form {

}

.label {
  color: #6e61c6;
} 

#about-div {
  margin-left: 2vw;
}

#about-input {
  width: 84vw;
}

.input {
  border: none;
  border-bottom: 0.1rem #6e61c6 solid;
  width: 40vw;
}

.input:focus {
  outline: none;
  color: rgb(22, 20, 20);
}

#about-input {
}

#submit {
  padding: 0.5rem 4rem;
  border: none;
  color: white;
  background: linear-gradient(to right,rgba(155,43,123,255), rgba(81,59,139,255), rgba(43,65,146,255));
  margin-left: 2vw;
  margin-top: 2rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1rem ;

}

.javascript {
  display: flex;
  justify-content: center;
}

.target {
  width: 84vw;
  display: flex;
  margin-top: 4rem;
  font-family: 'Roboto', sans-serif;
  color: rgb(34, 30, 30);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.border-bottom {
  border-bottom: 0.1rem rgb(185, 183, 183) solid;
  font-size: 1.2rem;
}

#woman-image {
  width: 10vw;
  border-radius: 60%;
}

.picture {
  background: linear-gradient(to right, #eb5348, #d84f66, #c74f73, #b14d87, #94499a, #8249aa, #7147b5, #5d44c3);;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 3vw;
  width: 30vw;
  padding: 4rem 0;

}

#picture-title {
  padding-top: 3rem;
  padding-bottom: 0.5rem;
}

.div-item {
  padding-right: 10vw;
}

.info {
  width: 51vw;
  padding: 1.5rem 0;
}

.info-title {
  padding: 1.5rem 0;
}

.div-row {
  display: flex;
}